<div class="row">
  <div class="col-sm-12">
    <h2>Image Gallery</h2>        
  </div>
</div>

<div class="row" id="galleryScaffold">
  <div class="col-md-3 col-sm-6" style="border: 1px solid black;">
    <img src="http://via.placeholder.com/300x300" class="img-responsive center-block img0" />
  </div>
  <div class="col-md-3 col-sm-6" style="border: 1px solid black;">
    <img src="http://via.placeholder.com/300x300" class="img-responsive center-block img1" />
  </div>
  <div class="col-md-3 col-sm-6" style="border: 1px solid black;">
    <img src="http://via.placeholder.com/300x300" class="img-responsive center-block img2" />
  </div>
  <div class="col-md-3 col-sm-6" style="border: 1px solid black;">
    <img src="http://via.placeholder.com/300x300" class="img-responsive center-block img3" />
  </div>
</div>



<!--
<form class="form-horizontal">
  <div class="form-group" id="editScaffold">
    <label for="strInput" class="col-sm-2 control-label">Add String</label>
    <div class="col-sm-8">
      <input type="email" class="form-control strInput" placeholder="Enter a string">
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-small btn-success addBtn">Add</button>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-small btn-danger delBtn">Delete</button>
    </div>
  </div>
</form>

-->